.main-page {
    background: rgb(5,0,0);
    background: linear-gradient(180deg, rgba(5,0,0,1) 0%, rgba(122,27,27,1) 79%, rgba(237,5,62,1) 100%);
    font-family: monospace;
    padding: 500px;
    color: white;
    width: auto;
   
}