
.grid{
    padding: 50px;
    background-color: rgb(73, 72, 72);
    color: white;
}
.responsive-grid {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 24px;
    background-color: black;
   

}

.profile.container {
    align-items: center;
    background-color: black;
}
.favMovies {
    background-color: black;

}
h1 {
    color: white;
    text-align: center;
}
img {
    width: 100%;
    height: 500px;
    
    
    
}
.title {
    font-family: monospace;
    font-weight: 500px;
    padding: 24px;
}



.card {
   background-color: black;
    font-style: oblique;
    color: white;  
}