<div class="grid">
<div class="profile-container">
<h1 class="profile">Profile</h1>
<h2 class="user-info">User Info</h2>
<div></div>
<p>{{ user.Name }}</p>
<p>{{user.Email}}</p>
</div>
<div class="update-info">
  
<mat-card-title><h2>Update User Info</h2></mat-card-title>
   
<mat-card-content>
    <form>
    <mat-form-field>
       
      <input
        matInput
        [(ngModel)]="userData.Name"
        placeholder={{user.Name}}
        type="text"
        name="Username"
        required
      >
      </mat-form-field>
      <mat-form-field>
      <input
        matInput
        [(ngModel)]="userData.Password"
        type = "password"
        placeholder="******"
        name="Password"
        required
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="userData.Email"
        type = "email"
        placeholder={{user.Email}}
        name="Email"
        required
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="userData.Birthday"
        type = "date"
        placeholder={{user.Birthday}} 
        name="birthday"
      >
    </mat-form-field>
  </form>
</mat-card-content>


  
    <button
      mat-raised-button
      (click)="updatedUser()"
      type="submit"
      color="primary"
    >
     Update
    </button>

  </div>
 



<div class="favMovies">

<h1>Favorite Movies</h1>


<div class="container responsive-grid">
  

          <ng-container *ngIf="FavoriteMovies.length > 0; else noFavoriteMovies">
          <div *ngFor="let movie of FavoriteMovies" class="card">
          
           <mat-card-header>
            <mat-card-title class="title">{{ movie.Title }}</mat-card-title>
           </mat-card-header>

         <img mat-card-image [src]="movie.ImagePath" alt= {{movie.Title}} />
         
         <button mat-icon-button
         
         aria-label="Favorite movie heart icon"
         color="warn"
         (click)="deleteFavMovie(movie)" 
         >
             <mat-icon>{{movie.isSelected ? "favorite_border " : "favorite"}}</mat-icon>
           </button>
         
          </div>
          </ng-container>
        
          <ng-template #noFavoriteMovies>
            <p>No favorite movies available.</p>
          </ng-template>
        
        </div>
      </div>
     
    </div>
        
          
        
       
       
     
