


.container {
    padding: 50px;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 50px;
    background-color: black;

}
img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    
}
.title {
    font-family: monospace;
    font-weight: 500px;
    padding: 24px;
}


button {
    font-family: monospace;
    
}

.card {
   background-color: black;
    font-style: oblique;
    color: white;
    
}